<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script type="text/javascript" src="/assets/js/dist/_commons/md5.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({

        clientID: '78d76d6a9e41d31aa970',
        clientSecret: 'db37675ada257280c33b99b25aec118ac70923c1',
        repo: 'blog_comments',
        owner: 'lin037',
        admin: ['lin037'],
        id: md5(location.pathname),

    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
