<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
 
        // gitalk的主要参数
        clientID: '7c486a1caf867ff2e0da',
        clientSecret: 'f256ddfae89c82885112dbb68f9b39f3fcbb7d7c',
        repo: 'https://lin037.github.io',
        owner: 'lin037',
        admin: ['lin037'],
        
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
